@use '../mastodon/variables' as *;

.epsilon-category-suggestions {
  background: var(--color-bg-brand-softest);
  border-bottom: 1px solid var(--color-border-primary);
  padding: 16px;

  &__header {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    &__actions {
      display: flex;
      align-items: center;
      gap: 24px;

      .link-button {
        font-size: 13px;
        font-weight: 500;
      }
    }
  }

  &__title {
    color: var(--color-text-primary);
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    margin: 0;
  }
}
